In [2]:
print("hello")

hello

pep8 rules

# pep8 Rules
## pep8 Rules
### pep8 Rules   # determines the header size

# pep8 Rules

In [ ]:
#pep8 kuralları temiz kod kurallarıdır.Örneğin bir satırda 79 karakterden fazla olmasın veya 3 + 5 yzarken + işaretinin 
#iki tarafına da boşluk eklemek gibi.

comment

In [ ]:
3 + 5 #3 ile 5 in toplamıdır. #yorumlarımız burada ki gibi gereksiz olmamalı.

# Variables (değişken)

In [6]:
print("Ahmet Aka") # Ahmet Aka yı ben devamlı kullanıcam o zaman bir değişken oluşturuyoum.Değikenimin adı name değeri Ahmet Aka.

Ahmet Aka

In [7]:
name = ("Ahmet Aka")

In [8]:
type("name")

str

In [10]:
print("name")

name

In [2]:
name_1 = "ahmet"
name2 = "serhan"

In [3]:
print(name_1)
print(name2)

ahmet
serhan

In [4]:
pi_number = '3.14'

In [5]:
pi-number = '3.14'  # python - işaretini eksi olarak anlar.Değişken tanımllarken _ kullanmak daha doğrudur

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1686249119.py, line 1)

In [6]:
name_2 = 'emre'

In [7]:
2_name = "ahmet"  #değişken tanımlarken nummeric karakterler başta olmaz.

SyntaxError: invalid decimal literal (1715876666.py, line 1)

In [8]:
$_name = 'ahmet'

SyntaxError: invalid syntax (2097849247.py, line 1)

In [9]:
name_1 = 'emre'
name_2 = 'ali'
age_1 = '15'

In [11]:
print(name_1, name_2, age_1) #print in içerisine birden fazla değişken adı girebiliriz ama virgül ile ayırmak zorundayız.

emre ali 15

In [12]:
print(name_1 name_2, age_1)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3754349368.py, line 1)

In [13]:
name_4, name_5 = 'erkan', 'mehmet'

In [14]:
print(name_4, name_5)

erkan mehmet

In [15]:
name_4, name_5 = 'erkan, mehmet'

ValueError: too many values to unpack (expected 2)

In [16]:
name_6 = name_7 = 'ahmet' #farklı değişkenlere aynı değeri verebiliriz

# Data Types

In [20]:
"Hello World" #string. tırnak işareti arasındaki hersey stringtir.

'Hello World'

In [21]:
"35" #string

'35'

In [22]:
type("Hello World") # type yazarak ta veri tipini öğrenebiliriz

str

In [28]:
35 #küsüratsız sayılar intiger olur.negatif olması işi değiştirmez

35

In [29]:
-65

-65

In [30]:
type(-65)

int

In [23]:
age_8 = 35

In [24]:
type(age_8)

int

In [31]:
kesirli_sayı = 5.4 #float sayılar nokta ile ayrılır

In [32]:
6.78

6.78

In [33]:
type(6.78)

float

In [34]:
type(True) #matematiksel karşılığı 1 dir varlığı ifade eder. boolean veri tipi:True ve False dur

bool

In [35]:
type(False) #matematiksel karşılığı 0 dır yokluğu ifade eder

bool

In [36]:
araba = 'BMW'

In [37]:
print(araba)

BMW

In [38]:
#ben araba değişkenini silsem bile print(araba) yazınca BMW yazdırmaya devam eder eğer tamamen hafızadan silmek istersem
# del araba demem lazım. bunu pek kullanmayız zaten siz aynı değişkene yeni değer tanımlayınca eski değeri unutur.