In [ ]:
liste_1 = [4,5,6,9,85,23,65,47,32,91] #listenin en büyük ve en küçük elemanını min ve max fonksiyonu kullanmadan bulun sort fonksiyonunu kullanmayın.

In [5]:
liste_1 = [4,5,6,9,85,23,65,47,32,91]

x = 0

min_sayı = liste_1[0]

while x < len(liste_1):

    if min_sayı > liste_1[x]:
        min_sayı = liste_1[x]



    x += 1

print(min_sayı)

4

In [6]:
liste_1 = [4,5,6,9,85,23,65,47,32,91]

x = 0

max_sayı = liste_1[0]

while x < len(liste_1):

    if max_sayı < liste_1[x]:
        max_sayı = liste_1[x]



    x += 1

print(max_sayı)

91

# for

In [7]:
for i in "company":   #for döngüsü iterable lar ile çalışır
    print(i)

c
o
m
p
a
n
y

In [9]:
for i in "company":   #for döngüsü iterable lar ile çalışır
    print(i, "-", i *2)

c - cc
o - oo
m - mm
p - pp
a - aa
n - nn
y - yy

In [10]:
for k in "company":   #for döngüsü iterable lar ile çalışır   # k olur i olur önemli olan bir değişken tanımlayıp işlemi onun üzerinden yapabilmek.
    print(k)

c
o
m
p
a
n
y

In [12]:
liste_2 = [1, 2, 3, 4, 5]   #for döngüsü ile

for i in liste_2:
    print(i ** 2)

1
4
9
16
25

In [16]:
liste_2 = [1, 2, 3, 4, 5]    # while döngüsü ile

x = 0

while x < len(liste_2):

    print(liste_2[x] ** 2)

    x += 1

1
4
9
16
25

In [15]:
"e" in "hello"

True

In [21]:
for i in  (1, 2, 3, 4, 5):  # tuple oluşturup for döngüsü ile değerleri sorduk
    print(f"{i}, sayısının karesi, {i ** 2}")

1, sayısının karesi, 1
2, sayısının karesi, 4
3, sayısının karesi, 9
4, sayısının karesi, 16
5, sayısının karesi, 25

In [20]:
for i in  (1, 2, 3, 4, 5):  # tuple oluşturup for döngüsü ile değerleri sorduk
    print(f"{i}, sayısının karesi, {i ** 2}", end="--")  # end ile yan yana yazdırdık

1, sayısının karesi, 1--2, sayısının karesi, 4--3, sayısının karesi, 9--4, sayısının karesi, 16--5, sayısının karesi, 25--

In [19]:
for i in 1453:  #integırlar iterable olmadığı için hata verdi
    print(i)

TypeError: 'int' object is not iterable

In [22]:
isimler_listesi = ["irem", "cihan", "bahar", "metehan"]

In [23]:
for i in isimler_listesi:   # tek tek ulaşarak isimlerin baş harflerini büyük harf ile yazdırdık
    print(i.capitalize())

Irem
Cihan
Bahar
Metehan

In [ ]:
"company" # bu ifadeyi aşağıdaki hale nasıl dönüştürebiliriz

"c-o-m-p-a-n-y"

In [30]:
for i in "company":
    print(i, end="-")

c-o-m-p-a-n-y-

In [33]:
empty_str = ""

for i in "company":
    empty_str += i + "-"

print(empty_str.rstrip("-"))

c-o-m-p-a-n-y

In [36]:
dict_1 = {"name": "dilek", "age": 26, "job": "data_scientist"}
dict_1

{'name': 'dilek', 'age': 26, 'job': 'data_scientist'}

In [37]:
for i in dict_1:
    print(i)

name
age
job

In [39]:
dict_1.values()

dict_values(['dilek', 26, 'data_scientist'])

In [40]:
for i in dict_1.values():
    print(i)

dilek
26
data_scientist

In [41]:
dict_1.items()

dict_items([('name', 'dilek'), ('age', 26), ('job', 'data_scientist')])

In [43]:
for i in dict_1.items():
    print(i)

('name', 'dilek')
('age', 26)
('job', 'data_scientist')

In [45]:
for i, j in dict_1.items():  # j de  i gibi bir değişken 
    print(i,j,sep="**")

name**dilek
age**26
job**data_scientist

In [46]:
for i, j in dict_1.items():
    print(f"key: {i}, value: {j}")

key: name, value: dilek
key: age, value: 26
key: job, value: data_scientist

In [48]:
dict_2 = {"name": "dilek", "surname": "yılmaz", "age": 26, "job": "data_scientist"}
dict_2

{'name': 'dilek', 'surname': 'yılmaz', 'age': 26, 'job': 'data_scientist'}

In [53]:
for i, j in dict_2.items():
    print(f"key: {i:<10}, value: {j}")  # i<10 un anlamı on karakterlik yer aç ve değerleri sağa yasla

key: name      , value: dilek
key: surname   , value: yılmaz
key: age       , value: 26
key: job       , value: data_scientist

In [54]:
for i, j in dict_2.items():
    print(f"key: {i:>10}, value: {j}")  # i>10 un anlamı on karakterlik yer aç ve değerleri sağa yasla

key:       name, value: dilek
key:    surname, value: yılmaz
key:        age, value: 26
key:        job, value: data_scientist

In [56]:
for i, j in dict_2.items():
    print(f"key: {i:>10}, value: {j:^15}")  #j^15 in anlamı 15 karakterlik yer aç ve değerleri ortala.

key:       name, value:      dilek
key:    surname, value:     yılmaz
key:        age, value:       26
key:        job, value: data_scientist

In [58]:
for i in True:   # hata aldık çünkü boolean ifadeler iterable değildir
    print()

TypeError: 'bool' object is not iterable

In [ ]:
liste = ["sonsuz döngü"]
for i in liste:
    print(i)
    liste.append(i)   # listeye dğer eklemeye çalışıyoruz bu şekilde for döngüsü sonsuza gider.bir listeye ekleme yapmak için önce boş bir liste oluştur yoksa sonsuza gider.

In [61]:
"company".center(20) # 20 karakter aç ve değeri ortala

'      company       '

In [62]:
"company".rjust(20)

'             company'

In [63]:
"company".ljust(20)

'company             '

In [ ]:
for  i in range(1,51):
    print(f"{i:<2} - bu nasıl iş böyle")