# Tuples

In [1]:
# immutable
# iterable

In [ ]:
tuple()
()

In [3]:
tuple("company")

('c', 'o', 'm', 'p', 'a', 'n', 'y')

In [5]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [7]:
tuple([1,2,3,4], "company") # listelerdeki gibi birer birer eleman yazmalıyız

TypeError: tuple expected at most 1 argument, got 2

In [8]:
tuple_1 = ("company",3, 5.4, False, [1,2,3])

In [9]:
type(tuple_1)

tuple

In [11]:
tuple(123) # int ler iterable olmadığı için tuple yapamadı

TypeError: 'int' object is not iterable

In [2]:
name = "Başak"

In [3]:
tuple(name)

('B', 'a', 'ş', 'a', 'k')

In [1]:
pi_number = 3,14 #virgüllerle ayrılmış değerleri tuple algılar

In [2]:
type(pi_number)

tuple

In [3]:
len(pi_number)

2

In [4]:
["company"] # tek elemanlı liste oluştururken elemanın sonuna , koymayız

['company']

In [6]:
("company",)  # tek elemanlı tuple oluştururken elemandan sonra , koymalıyız

('company',)

In [7]:
type("company",) #fonksiyonun ikinci parametresinin girileceğini düşünür.

str

In [8]:
type(("company",))

tuple

In [10]:
liste_1 = 1, 2, 3, 4 # virğül ile ayırdık bu şekilde tuple oldu. [] koyarsak liste olur
liste_1

(1, 2, 3, 4)

In [15]:
# Tuple ve listlerde aşağıdaki gibi işlemler yapabiliriz

In [11]:
[1, 2, 3 ] + [5, 9, 6,]

[1, 2, 3, 5, 9, 6]

In [12]:
(1, 2, 3 ) + (8, 6, 6)

(1, 2, 3, 8, 6, 6)

In [13]:
[1, 2, 8] * 5

[1, 2, 8, 1, 2, 8, 1, 2, 8, 1, 2, 8, 1, 2, 8]

In [14]:
(8, 4, 6) * 2

(8, 4, 6, 8, 4, 6)

In [18]:
("ahmet", 3, False) + ("samet") #işlemi yapamadı çünkü ikinci parantez içi tuple değil tek elemanlı tuple da en sona , koymalıyız

TypeError: can only concatenate tuple (not "str") to tuple

## Indexing & Slicing

In [22]:
tuple_2 = ("Aslan", 4, True, ["Tülay", 5, 6], ("Zeynep", 2, 6.14))

In [23]:
tuple_2[3] # indexing

['Tülay', 5, 6]

In [24]:
tuple_2[3][0]

'Tülay'

In [25]:
tuple_2[4][0]

'Zeynep'

In [29]:
tuple_2[1:5] # Slicing

(4, True, ['Tülay', 5, 6], ('Zeynep', 2, 6.14))

In [30]:
#stringde slicing yaparsak sonucu string verir,list de slicing yaparsak sonucu list verir,tuple da slicing yaparsak sonucu tuple verir
#ama  üç veri tipinden hangisinde indexing yaparsak yapalım çağırdığımız verinin türü ne ise sonucu o türden yazdırır.

In [32]:
tuple_2[0] = "meltem"  # tuple lar ve string ler immutable dır değeri çağırıp onun yerine yeni değer atayamayı.

TypeError: 'tuple' object does not support item assignment

In [36]:
tuple_2[3] # index yaptık gelen verinin tipi list,o zaman list komutlarını kullanabiliriz. append yapıp yeni 
#değer ekledik bu listelerde olur çunkü listeler mutabledir

['Tülay', 5, 6]

In [38]:
tuple_2[3].append(5)

In [40]:
tuple_2[3]

['Tülay', 5, 6, 5]

In [41]:
tuple_2[3] # index ile çağırılan veri tipi list o zaman list komutlarını kullanabiliriz

['Tülay', 5, 6, 5]

In [45]:
tuple_2[3].remove(5) #ilk gördüğü 5 i sildi. ama bir tuple ı del yapamayız çünkü tuple lar değiştirilemez

In [44]:
tuple_2[3]

['Tülay', 6, 5]

In [47]:
#string ifadeye ulaşıp örneğin upper ile değişiklik yapabilirsin ama kalıcı olmaz cünkü stringler immutable

## Tuple Methods

In [ ]:
#tuple metodları tuple ın genel yapısını değiştirmez çünkü tuplelar ımmutable

In [49]:
tuple_3 = (1, 2, 8, 6, 2, 7)

In [51]:
tuple_3.count(2) # yazdıgımız elemandan kaç tane var ise count onu getirir

2

In [53]:
tuple_3.index(8) #yazdığımız değerin hangi indexte olduğunu verir.

2

# range()

In [55]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [56]:
range(4,10)

range(4, 10)

In [57]:
list(range(4,10)) # belirtilen aralıkta liste oluştur dedik

[4, 5, 6, 7, 8, 9]

In [58]:
tuple(range(4,10))

(4, 5, 6, 7, 8, 9)

In [59]:
range(4,10)[1]

5

In [60]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
list(range(2,10,2)) #2 den 10 a kadar 2 ser 2ser giden liste oluştur ( 10 dahil değil tabi)

[2, 4, 6, 8]

In [63]:
list(range(-2,10,2))

[-2, 0, 2, 4, 6, 8]

In [64]:
list(range(10,2,-1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [65]:
list(range(2,40,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]