In [ ]:
#SORU 1, kullanıcıdan 1 (dahil) ve 9 (dahil) arasında bir sayı isteyin bu sayının çarpım tablosunu oluşturun.

In [4]:
number = int(input("Bir sayı girin.1 ve 9 arasında"))

if 1 <= number <= 9:

    for i in range(0,11):

        print(f"{number} x {i:<2} = {number * i}")

else:
    print("Girdiğiniz sayı 1 ile 9 arasında değil.")

8 x 0  = 0
8 x 1  = 8
8 x 2  = 16
8 x 3  = 24
8 x 4  = 32
8 x 5  = 40
8 x 6  = 48
8 x 7  = 56
8 x 8  = 64
8 x 9  = 72
8 x 10 = 80

In [2]:
#SORU 2, kullanıcıdan 1 (dahil) ve 9 (dahil) arasında bir sayı isteyin bu sayının çarpım tablosunu oluşturun.
#kullanıcı bu aralıktan farklı bir değer girdiysetekrar doğru bir değer girmesini isteyin.

In [22]:
#SORU 2, birinci çözüm   hak vermedik sayı aralığında değer yazdırıncaya kadar devam eder.

while True:                                              #while içinde for veya for içinde while kullanabiliriz bunun adı nested iç içe döngü.

    number = int(input("Bir sayı girin.1 ve 9 arasında"))

    if 1 <= number <= 9:

        for i in range(0,11):

            print(f"{number} x {i:<2} = {number * i}")

        break

    else: print("Girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin")

Girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin
Girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin
Girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin
Girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin
8 x 0  = 0
8 x 1  = 8
8 x 2  = 16
8 x 3  = 24
8 x 4  = 32
8 x 5  = 40
8 x 6  = 48
8 x 7  = 56
8 x 8  = 64
8 x 9  = 72
8 x 10 = 80

In [30]:
#SORU 2, ikinci çözüm   hak vermedik sayı aralığında değer yazdırıncaya kadar devam eder.

while True:                                              

    number = int(input("Bir sayı girin.1 ve 9 arasında"))

    if 1 <= number <= 9:

        for i in range(0,11):

            print(f"{number} x {i:<2} = {number * i}")

        break

    else:
        print("Girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin")

Girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin
Girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin
Girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin
Girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin
Girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin
4 x 0  = 0
4 x 1  = 4
4 x 2  = 8
4 x 3  = 12
4 x 4  = 16
4 x 5  = 20
4 x 6  = 24
4 x 7  = 28
4 x 8  = 32
4 x 9  = 36
4 x 10 = 40

In [28]:
#soru 2,üçüncü çözüm yolu 3 deneme hakkı ekledik

sayaç = 0

while True:                                              

    number = int(input("Bir sayı girin.1 ve 9 arasında"))

    sayaç += 1

    if 1 <= number <= 9:

        for i in [0,2,3,4,5,6,7,8,9,10]:  # burada range(0,11) yerine list oluşturduk

            print(f"{number} x {i:<2} = {number * i}")

        break

    else:
        print("Girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin")

    if sayaç == 3:
        break

Girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin
Girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin
Girdiğiniz sayı 1 ile 9 arasında değil. Tekrar sayı girin

In [ ]:
# SORU 1 den 50(50 dahil) sayıların toplamını bulan kodu yazdırın.  matematikte kullanılan formül budur (n * (n + 1)) / 2

In [32]:
# çözüm bir ,#sum komutu bu soruyu çözmeye yarar
sum(range(1,51))

1275

In [ ]:
# çözüm iki,
toplam = 0

for i in range(1,51):
    toplam += i

print(toplam)

In [33]:
sum([1,2,5,8,]) # liste olabilir

16

In [34]:
sum((1,5,9,7,5))  # tuple olabilir

27

In [35]:
sum({1,5,8,7,3})  # küme olabilir

24

In [36]:
sum(["a", "b"])  #string ifadelerde hata veriyor

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
sum({1,5,8,7,3},100) #virgül koyup sayısal bir değer yazarsak toplamı o değerin üstüne yapar

124

In [ ]:
#1 den 50(50 dahil) çift sayıların toplamını bulan kodu yazdırın.

In [46]:
#yöntem 1

toplam = 0

for i in range(1,51):

    if i % 2 == 0:
        toplam += i  

print(toplam)

650

In [47]:
# yöntem 2

toplam = 0

for i in range(0,51,2):

    if i % 2 == 0:
        toplam += i  

print(toplam)

650

In [49]:
#yöntem 3

sum(range(0,51,2))

650

In [56]:
#yöntem 4 

toplam = 0

for i in range(1,51):

    if i % 2 == 1:  # tek sayı görünce devam et.tek sayıyla ilgili bir işlem yapma
        continue
    else:
        toplam += i

print(toplam)

650

## break, continue

In [50]:
liste_1 = [1,2,3,4,5]
liste_1

[1, 2, 3, 4, 5]

In [54]:
for i in liste_1:     # liste-1 deki elemanların karelerini bulan kodu yaz ama 3 ve 3 ün katı olan bir sayıya denk gelince kod bitsin diğer durumda sayıların karesini yazdırsın.
    
    if i % 3 == 0:
        break
    else:
        print(i ** 2)

1
4

In [53]:
for i in liste_1:             # liste-1 deki elemanların karelerini bulan kodu yaz 3 ve 3 ün katı olan bir sayıya denk gelince kod devam etsin ancak işlem yapmasın. 
                            #diğer durumda sayıların karesini yazdırsın.
    if i % 3 == 0:
        continue
    else:
        print(i ** 2)

1
4
16
25

## zip()

In [ ]:
# farklı elemanları eşleştirmek,birleştirmek için kullanırız
# bu fonksiyon iterable olan veri tipleri ile çalışır. mesela intiger değer girince hata verir

In [1]:
a = ["apple", "orange", "lemon"]
b = [1,2,3]

In [2]:
zip(a,b) # sıkıştırır görmek için list gibi bir fonksiyon kullanırız

In [3]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [7]:
list(zip(b,a))

[(1, 'apple'), (2, 'orange'), (3, 'lemon')]

In [4]:
x = "company"
y = "cihan"
z = "ayşe"   # en küçük ismin karakter sayısı kadar diğer verilerden eleman çekiyor

In [6]:
list(zip(x,y,z))

[('c', 'c', 'a'), ('o', 'i', 'y'), ('m', 'h', 'ş'), ('p', 'a', 'e')]

In [8]:
dict(zip(a,b))  #mesela burada dict fobksiyonunu kullanarak zipi() i çağırdık

{'apple': 1, 'orange': 2, 'lemon': 3}

In [9]:
meyveler = ["apple", "orange", "apple"] #iki tane aynı değer olunca sonuncusunu aldı
adet = [1,2,3]

In [10]:
dict(zip(meyveler,adet))

{'apple': 3, 'orange': 2}

In [3]:
name = ["irem", "betül", "tülay"]
age = [25,26,27]
job = ["data_scientist", "python_developer", "data_analyst"]

In [4]:
list(zip(name,age,job))

[('irem', 25, 'data_scientist'),
 ('betül', 26, 'python_developer'),
 ('tülay', 27, 'data_analyst')]

In [5]:
for item in zip(name,age,job):
    print(item)

('irem', 25, 'data_scientist')
('betül', 26, 'python_developer')
('tülay', 27, 'data_analyst')

In [6]:
for i,j,k in zip(name,age,job):  
    print(f"name: {i}, age: {j}, job: {k}")

name: irem, age: 25, job: data_scientist
name: betül, age: 26, job: python_developer
name: tülay, age: 27, job: data_analyst

In [8]:
for i,j in zip(name,age,job):   # iki değişken adı var ama istenen data üç başlık altında datayı ikiye bölemiyor ve hata veriyor 
    print(f"name: {i:<6}, age: {j}")

ValueError: too many values to unpack (expected 2)

## enumerate()

In [9]:
name

['irem', 'betül', 'tülay']

In [10]:
enumerate(name) # listenin elemanlarıa numara verdik

In [11]:
list(enumerate(name))

[(0, 'irem'), (1, 'betül'), (2, 'tülay')]

In [12]:
list(enumerate(name, 100))  # numaralandırmaya 100 den başlamasını istedik

[(100, 'irem'), (101, 'betül'), (102, 'tülay')]

In [14]:
number_list = [48,10,11,21,36,5,6,52,28,29,53,54,4,    # listenin min ve max değerleri arasındaki sayıları bulun.
        5,19,20,47,55,39,41,7,9,17,26,27,42,22,37,
        51,46,18,44,30,34,13,15,35,33,16,50,24]

In [15]:
#çözüm 1
kayıp_sayılar = []

for i in range(min(number_list),max(number_list)):

    if i not in number_list:
        kayıp_sayılar.append(i)

print(kayıp_sayılar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 45, 49]

In [16]:
#çözüm 2
kayıp_sayılar = []

for i in range(min(number_list),max(number_list)):

    if i  in number_list:
        continue

    kayıp_sayılar.append(i)

print(kayıp_sayılar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 45, 49]

In [18]:
# çözüm 3

full_set = set(range(min(number_list),max(number_list)))

number_set = set(number_list)

full_set - number_set

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 45, 49}